h1,h2,h3,h4,h5,h6,p{
	padding:0;
	margin:0;
}
body{
	font-size:16px;
}
.container{
	max-width:960px;
}
/*============= Header =============*/
header{
	height:50px;
	padding-top:15px;
}
.header-text{
	padding-top:8px;
}
/*============= End Header =============*/

/*============= Main =============*/
main{
	height:200px;
}
.comments p{
	padding:4px 0px 4px 15px;
	margin-bottom:5px;
	border-radius:5px;
}
.comments p:nth-child(even){
	background-color:lavender;
}
.comments p:nth-child(odd){
	background-color:gainsboro;
}
/*============= End Main =============*/

/*============= Footer =============*/

/*============= End Footer =============*/